@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-body: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;
    
    --color-primary: #0B2B5E;
    --color-primaryLight: #E6F0FA;
    --color-secondary: #4A90E2;
    --color-dark: #121212;
    
    --shadow-soft: 0 10px 40px -10px rgba(11, 43, 94, 0.08);
    --shadow-glass: 0 8px 32px 0 rgba(11, 43, 94, 0.05);
}
